<!DOCTYPE html>
<html ng-app="game">
<head >
	<title>Shabdakosha</title>

	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
    <script>window.scrollback = {"room":"shabdakosh-hindi-learners","titlebarColor":"#ec9041","form":"canvas","minimize":true};(function(d,s,h,e){e=d.createElement(s);e.async=1;e.src=(location.protocol === "https:" ? "https:" : "http:") + "//scrollback.io/client.min.js";d.getElementsByTagName(s)[0].parentNode.appendChild(e);}(document,"script"));</script>
</head>
<body>

<div id="right_box" style="margin-left:60%;border:2px solid black;position:absolute;z-index:99;height:600px;width:450px;background-color:#ff3232;opacity:.8;margin-top:70px;" ng-show="gocats">
<h3 style="font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;border-bottom:1px solid black;">  YOUR CONTRIBUTION</h3>	


<h5>Number of Translations: {{count}}</h5>
<h5>Votes : 5</h5>
<div style="border-top:1px solid black;border-bottom:1px solid black;margin-top:20px;margin-bottom:20px;">YOUR AWARDS</div>
<div style="width:100%;margin-top:20px;">
<h4>Weekly Leaderbord</h4>
<p>Rank 1: RohitFOSS</p>
<p>Rank 2: Sujan</p>
<p>Rank 3: jaggu9945</p>
<p>Rank 4: sheldon@ftps</p>
<p>Rank 5: living_ninja</p>
<p>Rank 6: sanad</p>
<p>Rank 7: brucelee</p>

</div>

</div>







<img src="images/bg.jpg" style="width:100%;position:absolute;">
<img src="file:///home/sanad/Desktop/RHOK/logo.png" style="align-left:30px;">

<div class="btn-group-vertical" role="group" style="margin-top:100px;" ng-hide="gocats">
  <button type="button"  class="btn btn-default"style="margin:20px;background:transparent;" ng-click="gocats=!gocats">
  	<img src="images/button_play_hot.png"  style="width:100%;">
  </button>
  
  <button type="button" class="btn btn-default" style="margin:20px;background:transparent;">
  	<img src="images/button_challenge_hot.png"  style="width:100%;">
  </button>

  <button type="button" class="btn btn-default" style="margin:20px;background:transparent;">
	<img src="images/button_scores.png"  style="width:100%;">
  </button>
</div>




<form  style="border: 4px solid black; max-width:500px;position:absolute;margin-left:5%;margin-top:;padding:10px;background-color:#ff3232;opacity:.85;" ng-controller=" formCtrl as fc" ng-submit="submit()" ng-show="gocats">
	
	<div class="form-group" ng-hide="cat1">
		<label>What is your native language?</label>
		<input type="text" class="form-control" placeholder="enter language" ng-model="item.lang" >
		<div class="form-group"  style="display:block;font-color:blue; margin:10px auto; margin-left:370px;">
		<input type="submit" class="form-control"  ng-click="cat1=!cat1">
	</div>

	</div>

	<div class="form-group" ng-show="cat1">
	
		<strong style="font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 24px;">What is the meaning/synonym of the word in your language?</strong>

		
		<p><label style="border:1px solid white;margin-left:40%;background-color:white;padding:6px;font-family:Tahoma;font-size:20px;">{{words[x]}}</label></p>
		<img ng-src="{{image[x]}}"></img>

		<p style="background-color:white;margin-top:10px;">Your Translation is : {{input}}</p>
	
       <p><label>Translate The Word</label>
		<input type="text" class="form-control" placeholder="enter translation" ng-model="input" ></p>


		<small>Your selected native language is : {{item.lang}}</small>

<div class="form-group"  style="display:block; margin:10px auto; margin-left:370px;">
		<input type="submit" class="form-control"  >
	</div>



</div>
		
	
	</form>

<script src="angular.min.js"></script>
<script  src="app.js"></script>
<script src="jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
